In [2]:
import importlib
import src.etl.extract
import src.utils
import os

# Reload the module to get the latest changes
importlib.reload(src.etl.extract)
importlib.reload(src.utils)

#import specific functions after reloading
from src.etl.extract import fct_read_csv , fct_read_json_nested,fct_add_prefix_to_df
from src.utils import fct_load_config

ModuleNotFoundError: No module named 'src'

In [63]:
# Load configuration parameters from config.yaml
config_path = os.path.join(os.getcwd(), 'config.yaml')
config = fct_load_config()

root_csv_2010 = config['root_csv_2010']
root_csv_2014 = config['root_csv_2014']
root_csv_2022 = config['root_csv_2022']
root_json_2018 = config['root_json_2018']       

# read data in dfs
df_2010 = fct_read_csv(root_csv_2010)
df_2014 = fct_read_csv(root_csv_2014)
df_2022 = fct_read_csv(root_csv_2022)

In [64]:
df_2010.head()

,edition,round,score,team1,team2,url,venue,year
0,1930-URUGUAY,GROUP_STAGE,4-1 (3-0),France,Mexico (M√©xico),1930_URUGUAY_FS.htm#1-WC-30-I,Montevideo.,1930
1,1930-URUGUAY,GROUP_STAGE,3-0 (2-0),USA,Belgium (Belgi√´),1930_URUGUAY_FS.htm#13-WC-30-I,Montevideo.,1930
2,1930-URUGUAY,GROUP_STAGE,2-1 (2-0),Yugoslavia (–à—É–≥–æ—Å–ª–∞–≤–∏—ò–∞),Brazil (Brasil),1930_URUGUAY_FS.htm#7-WC-30-I,Montevideo.,1930
3,1930-URUGUAY,GROUP_STAGE,3-1 (1-0),Romania (Rom√¢nia),Peru (Per√∫),1930_URUGUAY_FS.htm#10-WC-30-I,Montevideo.,1930
4,1930-URUGUAY,GROUP_STAGE,1-0 (0-0),Argentina,France,1930_URUGUAY_FS.htm#2-WC-30-I,Montevideo.,1930

In [65]:
df_2014.head()
list_wanted_columns = [
    "Datetime",
    "Stage",
    "Stadium",
    "City",
    "Home Team Name",
    "Home Team Goals",
    "Away Team Goals",
    "Away Team Name",
    "RoundID",
    "MatchID",
]
df_2014 = df_2014[list_wanted_columns]
df_2014.head()

,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,RoundID,MatchID
0,12 Jun 2014 - 17:00,Group A,Arena de Sao Paulo,Sao Paulo,Brazil,3,1,Croatia,255931,300186456
1,13 Jun 2014 - 13:00,Group A,Estadio das Dunas,Natal,Mexico,1,0,Cameroon,255931,300186492
2,13 Jun 2014 - 16:00,Group B,Arena Fonte Nova,Salvador,Spain,1,5,Netherlands,255931,300186510
3,13 Jun 2014 - 18:00,Group B,Arena Pantanal,Cuiaba,Chile,3,1,Australia,255931,300186473
4,14 Jun 2014 - 13:00,Group C,Estadio Mineirao,Belo Horizonte,Colombia,3,0,Greece,255931,300186471

In [66]:
df_2022.head()
list_wanted_columns = [
    "team1",
    "team2",
    "number of goals team1",
    "number of goals team2",
    "date",
    "hour",
    "category"
]
df_2022 = df_2022[list_wanted_columns]
df_2022.head()

,team1,team2,number of goals team1,number of goals team2,date,hour,category
0,QATAR,ECUADOR,0,2,20 NOV 2022,17 : 00,Group A
1,ENGLAND,IRAN,6,2,21 NOV 2022,14 : 00,Group B
2,SENEGAL,NETHERLANDS,0,2,21 NOV 2022,17 : 00,Group A
3,UNITED STATES,WALES,1,1,21 NOV 2022,20 : 00,Group B
4,ARGENTINA,SAUDI ARABIA,1,2,22 NOV 2022,11 : 00,Group C

In [67]:
dfs_2018 = fct_read_json_nested(root_json_2018)

df_stadiums = dfs_2018['stadiums']
df_tvchannels = dfs_2018['tvchannels']
df_teams = dfs_2018['teams']
df_matches = dfs_2018['matches']

In [68]:
df_stadiums.head()
list_wanted_columns = [
    "id",
    "name",
    "city"
    ]
df_stadiums = df_stadiums[list_wanted_columns]
df_stadiums.head()

   id                 name              city
0   1     Luzhniki Stadium            Moscow
1   2      Otkrytiye Arena            Moscow
2   3   Krestovsky Stadium  Saint Petersburg
3   4  Kaliningrad Stadium       Kaliningrad
4   5          Kazan Arena             Kazan

In [69]:
df_tvchannels.head()
list_wanted_columns = [
    "id",
    "name",
    "country",
    "lang"
]
df_tvchannels = df_tvchannels[list_wanted_columns]
df_tvchannels = (df_tvchannels
                 .explode('lang')           # √©clate la liste
                 .rename(columns={'lang': 'lang'})
                 .reset_index(drop=True)
) 
df_tvchannels.head()

   id     name  country lang
0   1      DR1  Denmark   da
1   2      TV2  Denmark   da
2   3   BBC UK       UK   en
3   4   ITV UK       UK   en
4   5  ITV4 UK       UK   en

In [70]:
df_teams.head()
list_wanted_columns = [
    "id",
    "name",
    "fifaCode",
    "emojiString"
]
df_teams = df_teams[list_wanted_columns]
df_teams.head()

   id          name fifaCode emojiString
0   1        Russia      RUS          üá∑üá∫
1   2  Saudi Arabia      KSA          üá∏üá¶
2   3         Egypt      EGY          üá™üá¨
3   4       Uruguay      URU          üá∫üáæ
4   5      Portugal      POR          üáµüáπ

In [71]:
df_matches.head()
list_wanted_columns = [
    "name",
    "type",
    "home_team",
    "away_team",
    "home_result",
    "away_result",
    "date",
    "stadium",
    "channels",
    "group",
    "stage",  # a verifier avec type
    "winner"
]
df_matches = df_matches[list_wanted_columns]
df_matches.head()

,name,type,home_team,away_team,home_result,away_result,date,stadium,channels,group,stage,winner
0,1,group,1,2,5,0,2018-06-14T18:00:00+03:00,1,"[4, 6, 13, 17, 20, 22]",a,group,NaN
1,2,group,3,4,0,1,2018-06-15T17:00:00+05:00,12,"[3, 6, 14, 17, 20, 22]",a,group,NaN
2,17,group,1,3,3,1,2018-06-19T21:00:00+03:00,3,"[3, 6, 13, 17, 15, 21, 22]",a,group,NaN
3,18,group,4,2,1,0,2018-06-20T18:00:00+03:00,10,"[3, 6, 13, 17, 21, 22]",a,group,NaN
4,33,group,4,1,3,0,2018-06-25T18:00:00+04:00,7,"[4, 6, 13, 18, 15, 20, 22]",a,group,NaN

In [72]:
df_matches =  (
    df_matches
    .explode('channels')           # √©clate la liste
    .rename(columns={'channels': 'channelid'})
    .reset_index(drop=True)
)
df_matches.head()

,name,type,home_team,away_team,home_result,away_result,date,stadium,channelid,group,stage,winner
0,1,group,1,2,5,0,2018-06-14T18:00:00+03:00,1,4,a,group,NaN
1,1,group,1,2,5,0,2018-06-14T18:00:00+03:00,1,6,a,group,NaN
2,1,group,1,2,5,0,2018-06-14T18:00:00+03:00,1,13,a,group,NaN
3,1,group,1,2,5,0,2018-06-14T18:00:00+03:00,1,17,a,group,NaN
4,1,group,1,2,5,0,2018-06-14T18:00:00+03:00,1,20,a,group,NaN

In [73]:
df_team_home = df_teams.add_prefix('home_')
df_team_away = df_teams.add_prefix('away_')
df_stadiums= df_stadiums.add_prefix('stadium_')
df_tvchannels= df_tvchannels.add_prefix('channel_')
df_team_home.head()
# df_team_away.head()

   home_id     home_name home_fifaCode home_emojiString
0        1        Russia           RUS               üá∑üá∫
1        2  Saudi Arabia           KSA               üá∏üá¶
2        3         Egypt           EGY               üá™üá¨
3        4       Uruguay           URU               üá∫üáæ
4        5      Portugal           POR               üáµüáπ

In [74]:
df_2018_merged = (df_matches
                  .merge(df_stadiums, left_on='stadium', right_on='stadium_id', how='left')
                  .merge(df_tvchannels, left_on='channelid', right_on='channel_id', how='left')
                  .merge(df_team_home, left_on='home_team', right_on='home_id', how='left')
                  .merge(df_team_away, left_on='away_team', right_on='away_id', how='left')
                  )
df_2018_merged.head()

,name,type,home_team,away_team,home_result,away_result,date,stadium,channelid,group,...,channel_country,channel_lang,home_id,home_name,home_fifaCode,home_emojiString,away_id,away_name,away_fifaCode,away_emojiString
0,1,group,1,2,5,0,2018-06-14T18:00:00+03:00,1,4,a,...,UK,en,1,Russia,RUS,üá∑üá∫,2,Saudi Arabia,KSA,üá∏üá¶
1,1,group,1,2,5,0,2018-06-14T18:00:00+03:00,1,6,a,...,Spain,es,1,Russia,RUS,üá∑üá∫,2,Saudi Arabia,KSA,üá∏üá¶
2,1,group,1,2,5,0,2018-06-14T18:00:00+03:00,1,13,a,...,USA,en,1,Russia,RUS,üá∑üá∫,2,Saudi Arabia,KSA,üá∏üá¶
3,1,group,1,2,5,0,2018-06-14T18:00:00+03:00,1,17,a,...,Germany,de,1,Russia,RUS,üá∑üá∫,2,Saudi Arabia,KSA,üá∏üá¶
4,1,group,1,2,5,0,2018-06-14T18:00:00+03:00,1,20,a,...,Poland,pl,1,Russia,RUS,üá∑üá∫,2,Saudi Arabia,KSA,üá∏üá¶

In [75]:
list_final_columns = [
    'name',
    'type',
    'home_name',
    'away_name',
    'home_result',
    'away_result',
    'date',
    'stadium_name',
    'stadium_city',
    'type',
    'stage',
    'group',
    'winner',
    'channel_name',
    'channel_country',
    'channel_lang',
    'home_fifaCode',
    'away_fifaCode',
    'home_emojiString',
    'away_emojiString'
]
df_2018_final = df_2018_merged[list_final_columns]
df_2018_final.head()

,name,type,home_name,away_name,home_result,away_result,date,stadium_name,stadium_city,type,stage,group,winner,channel_name,channel_country,channel_lang,home_fifaCode,away_fifaCode,home_emojiString,away_emojiString
0,1,group,Russia,Saudi Arabia,5,0,2018-06-14T18:00:00+03:00,Luzhniki Stadium,Moscow,group,group,a,NaN,ITV UK,UK,en,RUS,KSA,üá∑üá∫,üá∏üá¶
1,1,group,Russia,Saudi Arabia,5,0,2018-06-14T18:00:00+03:00,Luzhniki Stadium,Moscow,group,group,a,NaN,Cuatro,Spain,es,RUS,KSA,üá∑üá∫,üá∏üá¶
2,1,group,Russia,Saudi Arabia,5,0,2018-06-14T18:00:00+03:00,Luzhniki Stadium,Moscow,group,group,a,NaN,Fox,USA,en,RUS,KSA,üá∑üá∫,üá∏üá¶
3,1,group,Russia,Saudi Arabia,5,0,2018-06-14T18:00:00+03:00,Luzhniki Stadium,Moscow,group,group,a,NaN,ARD,Germany,de,RUS,KSA,üá∑üá∫,üá∏üá¶
4,1,group,Russia,Saudi Arabia,5,0,2018-06-14T18:00:00+03:00,Luzhniki Stadium,Moscow,group,group,a,NaN,TVP 1,Poland,pl,RUS,KSA,üá∑üá∫,üá∏üá¶